* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Nunito", sans-serif;
  /* background-color: #125487; */
  background-image: url("../images/Shiny\ Overlay.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  /* color: black; */
}

/* navbar */

#logo {
  background-image: url("../images/logo-02.png");
  height: 90px;
  width: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head {
  height: 100vh;
  box-shadow: 1px 5px 20px 0px rgba(26, 26, 29, 0.75);
  -webkit-box-shadow: 1px 5px 20px 0px rgba(26, 26, 29, 0.75);
  -moz-box-shadow: 1px 5px 20px 0px rgba(26, 26, 29, 0.75);
}

#navbar {
  width: 100%;
  padding: 2% 5%;
  transition: 0.4s ease-in-out;
  /* backdrop-filter: blur(5px);
  background-color: rgba(28, 35, 49, 0.7); */
}

#navbarSupportedContent2 {
  display: none;
}

.nav-link span {
  margin: 0 5px;
}

.nav-link span,
#navbarDropdown {
  /* color: #125487; */
  font-weight: bold;
}

.nav-link {
  border-radius: 5px;
  color: #1c2331;
}
.nav-link:hover {
  background-color: #125487;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

#slide-1 {
  background-image: 
  /* linear-gradient(
      to top,
      rgba(240, 235, 96, 0),
      rgba(240, 235, 96, 0.3)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), */ url("../images/slide-1.jpg");
}
#slide-2 {
  background-image: 
  /* linear-gradient(
      to top,
      rgba(240, 235, 96, 0),
      rgba(240, 235, 96, 0.3)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), */ url("../images/slide-2.jpg");
}
#slide-3 {
  background-image: 
  /* linear-gradient(
      to top,
      rgba(240, 235, 96, 0),
      rgba(240, 235, 96, 0.3)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), */ url("../images/slide-3.jpg");
}

#slide-1,
#slide-2,
#slide-3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.carousel-container {
  /* color: #fff;
  width: 100%;
  padding-bottom: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0073b2; */
  /* background-color: rgb(18, 84, 135); */
  /* background: linear-gradient(rgba(18, 84, 135, 0.7), rgba(18, 84, 135, 0.7)); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  margin-bottom: 100px;
  border-radius: 25px;
  padding: 50px;
}

.carousel-container .container > span {
  font-weight: bold;
  font-size: 40px;
}

.carousel-container .container p span {
  font-weight: bold;
  font-size: 20px;
}

/* navbar end */

/* custom buttons */

.my-btn {
  color: #125487;
  border-radius: 50px;
  border-color: #125487;
  font-weight: bold;
}

.my-btn:hover {
  background-color: #125487;
  border-color: #125487;
  color: #fff;
  transition: 500ms;
}

.my-btn2 {
  color: #fff;
  border-radius: 50px;
  border-color: #fff;
  font-weight: bold;
}

.my-btn2:hover {
  background-color: #fff;
  border-color: #fff;
  color: #125487;
  transition: 500ms;
}

.my-btn3 {
  color: #ffdb58;
  border-radius: 50px;
  border-color: #ffdb58;
  font-weight: bold;
}

.my-btn3:hover {
  background-color: #ffdb58;
  border-color: #ffdb58;
  color: #125487;
  transition: 500ms;
}

.my-btn4 {
  color: #125487;
  border-radius: 50px;
  border-color: #fff;
  background-color: #fff;
  font-weight: bold;
}

.my-btn4:hover {
  background-color: #125487;
  border-color: #125487;
  color: #fff;
  transition: 500ms;
}
.my-btn5 {
  color: #fff;
  border-radius: 50px;
  border-color: #1c2331;
  background-color: #1c2331;
  font-weight: bold;
}

.my-btn5:hover {
  background-color: #fff;
  color: #1c2331;
  transition: 500ms;
}

/* custom buttons end */

#about-container,
#how-it-works-container {
  /* background-color: #125487; */
  /* background-color: #1c2331; */
  color: #fff;
  border-radius: 20px;
  padding: 50px 100px;
}

#about-container {
  /* background-color: #1c2331; */
  border-radius: 10px;
}
#about-bio,
#how-it-works-bio,
#vision-bio {
  text-align: center;
  font-size: 1.2em;
}

#about,
#vision,
#how-it-works,
#projects,
#contact,
#testimonials {
  padding: 100px 0;
}

#how-it-works p {
  color: #fff;
}

#book-survey {
  margin-top: 30px;
}

/* titles */

.title {
  padding-bottom: 10px;
  /* border-bottom: 1px solid #125487; */
  /* color: #125487; */
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 50px;
}

.title2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 50px;
}

/* titles end */

/* main-content */

.main-content,
.main-content2 {
  height: 70vh;
  background-position: center;
  background-size: cover;
  padding: auto;
  margin: auto;
  position: relative;
  color: white;
  /* background-attachment: fixed; */
}
#spinner {
  display: none;
}

.main-content div {
  position: absolute;
  left: 10%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
}

.main-content2 div {
  position: absolute;
  right: 10%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  vertical-align: center;
}

#main-1 {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/main-1.jpg");
}

#main-2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/main-2.jpg");
}

#main-3 {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/main-3.jpg");
}

#main-4 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 1, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/main-4.jpg");
}

/* main-content end */

/* Testimonials */

#testimonial {
  /* background: #ecf0f3; */
  padding: 100px;
  /* box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1; */
  border-radius: 10px;
  text-align: center;
}

#testimonial span {
  font-size: 0.8em;
}

#testimonial img {
  border-radius: 50%;
}

#testimonial-container {
  padding: 50px;
  border-radius: 25px;
}

#testimonial-carousel {
  border-radius: 20px;
  /* background-color: #1c2331; */
  color: #ecf0f3;
  box-shadow: -3px -3px 5px rgba(28, 35, 49, 0.3),
    3px 3px 5px rgba(28, 35, 49, 0.3);
  /* opacity: 0.7; */
}

.testimonial-star {
  width: 30px;
  height: 30px;
}

/* testimonials end  */

#ht-1,
#ht-2,
#ht-3,
#ht-4 {
  padding: 10px;
}

/* projects */

#projects {
  background-image: url("../images/Shiny\ Overlay.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-proj {
  border-radius: 10px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* margin-bottom: 30px; */
}

.proj-container {
  margin-bottom: 30px;
  border: 2px solid #1c2331;
  border-radius: 11px;
  padding: 0;
  background-color: #1c2331;
}

.proj-container:hover {
  /* opacity: 0.8; */
  /* background-color: rgba(28, 35, 49, 0.8);
  border-color: rgba(28, 35, 49, 0.8); */
  transition: 0.5s;
}

.proj-container span {
  font-weight: bold;
  /* color: #125487; */
  color: #fff;
  display: block;
  margin-top: 10px;
}

.proj-overlay {
  position: absolute;
  background-color: rgba(28, 35, 49, 0.5);
  border-radius: 10px;
  height: 0;
  width: 100%;
  left: 0;
}

#proj1 {
  background-image: url("../images/main-1.jpg");
}

#proj2 {
  background-image: url("../images/main-2.jpg");
}

#proj3 {
  background-image: url("../images/main-3.jpg");
}

#proj4 {
  background-image: url("../images/main-4.jpg");
}

/* projects end  */

/* counter  */

.counter-container {
  font-size: 2em;
  border-radius: 50%;
  /* color: #125487; */
  color: #fff;
  padding: 20px;
}
#counter-div {
  padding: 50px;
  /* background-color: #ebebeb; */
}
#counter-div span {
  /* color: #125487; */
  color: #fff;
  font-weight: bolder;
}

/* counter end  */

/* contact */

#contact {
  /* background-color: #125487; */
  color: #fff;
}

#name-err,
#email-err,
#msg-err,
#phone-err,
#submitted {
  font-weight: bolder;
  /* color: red; */
}

#contact-info {
  margin-bottom: 50px;
}

/* Contact End  */

/* Footer Start  */

#footer {
  background-color: #fff;
  padding-top: 30px;
  margin: 0;
  width: 100%;
  padding-bottom: 30px;
}

.icons-container {
  height: 100px;
  width: 400px;
}

.social-icons .item {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  transition: 0.3s all;
  position: relative;
  -webkit-transition: 0.3s all;
  text-align: center;
  color: #fff;
  background-color: #125487;
  line-height: 48px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18),
    0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.social-icons.spinned .item:hover {
  -webkit-animation: Social-Icons-Flipping 0.3s;
  animation: Social-Icons-Flipping 0.3s;
}
.social-icons .item:hover {
  text-decoration: none;
  background-color: #42474e;
  box-shadow: 0 -1px 0 transparent inset, 0 2px 3px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.social-icons .item .fa {
  font-size: 20px;
  font-weight: 500;
}

.facebook:hover {
  background-color: #425f9c !important;
}
.twitter:hover {
  background-color: #00acee !important;
}
.github:hover {
  background-color: #c00 !important;
}
.linkedin:hover {
  background-color: #0073b2 !important;
}
.codewars:hover {
  background-color: #eb3e40 !important;
}
.instagram:hover {
  background-color: #5e8aac !important;
}
.phone:hover {
  background-color: #0073b2 !important;
}

@-webkit-keyframes Social-Icons-Flipping {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes Social-Icons-Flipping {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#copyright {
  /* background-color: #125487; */
  color: #fff;
}

/* footer end  */

.head-img {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 500px;
  text-align: center;
}

/* about-page */

#about-head-img {
  background-image: url("../images/main-1.jpg");
}

#vision {
  background-color: #125487;
}

#vision-container {
  background-color: #fff;
  color: #125487;
  border-radius: 20px;
  padding: 50px 100px;
}

.col-3 {
  padding: 0;
  margin: 0;
}
/* #team-div {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#team-div img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
#team-div:hover .overlay {
  opacity: 1;
  width: 100%;
}
#team-div:hover img {
  transform: scale(1.1);
}
#team-div:hover {
  cursor: pointer;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 0;
  height: 100%;
  transition: 0.5s;
  opacity: 0;
  color: white;
  text-align: center;
} */

.team-img {
  -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.07);
  transition: 0.9s;
  margin-bottom: 10px;
  border-radius: 50%;
}
.team-img:hover {
  opacity: 100%;
  opacity: 0.8;
  transition: 0.9s;
}

#our-team {
  padding-bottom: 100px;
}
#our-team .title {
  margin-bottom: 100px;
}

#team-container {
  margin: 0;
}

.team-info {
  color: #313131;
}

/* about page end  */

/* faqs page  */

#faqs-head-img {
  background-image: url("../images/main-1.jpg");
}

#faq-body {
  background-image: url("../images/faqsBack.svg");
  background-attachment: fixed;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='rgba(111%2c 34%2c 50%2c 1)'%3e%3c/rect%3e%3cpath d='M2560 0L1756.03 0L2560 40.66z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1756.03 0L2560 40.66L2560 689.3299999999999L1542.1299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1542.13 0L2560 689.3299999999999L2560 708.4999999999999L1379.68 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1379.68 0L2560 708.4999999999999L2560 786.0299999999999L1239.51 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1440L298.03 1440L0 806.47z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 806.47L298.03 1440L615.0799999999999 1440L0 689.51z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 689.51L615.0799999999999 1440L686.31 1440L0 269.45z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 269.45000000000005L686.31 1440L1844.1299999999999 1440L0 204.85000000000005z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

#faqs-content {
  margin-top: 300px;
  margin-bottom: 100px;
  color: #1c2331;
  /* padding: 50px;
  border-radius: 20px;
  background-color: #fff;
  color: #125487; */
}

#faqs-head {
  /* background-color: #125487; */
  /* color: #fff; */
  text-align: center;
}

#faqs {
  /* background-color: #125487; */
  /* color: #fff; */
  margin-top: 200px;
  font-size: 20px;
}

@keyframes revolve {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}

.plus {
  animation: revolve 0.5s;
}
.minus {
  animation: revolve 0.5s;
}

.faq {
  padding: 20px;
  border-bottom: 1px solid rgba(28, 35, 49, 0.5);
}

/* .collapsible {
  background-color: #125487;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
} */
.collapsible {
  background-color: transparent;
  /* color: white; */
  color: #1c2331;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
}

.open-collapsible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
}

.collapse {
  transition: 0.5s ease;
}

.collapsible-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collapsible-icon {
  border: 1px solid #aaafb4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.card {
  background-color: transparent;
  border: none;
}

.card span {
  font-size: 20px;
}

/* .active1,
.collapsible:hover {
  background-color: #1c2331;
} */

/* .collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
} */

.active1:after {
  content: "\2212";
}

.content {
  /* padding: 0 50px; */
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  /* background-color: #f1f1f1; */
  /* border-radius: 0 0 20px 20px; */
}

.btn-container {
  padding: 20px;
}

/* faqs page end  */

/* Career Page */

#career-head-img {
  background-image: url("../images/main-1.jpg");
}

.team-banner {
  overflow: hidden;
  background-color: #fff;
  padding: 100px;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Career Page end */

/* partners page */

#partners-head-img {
  background-image: url("../images/main-1.jpg");
}

/* Partners Page end */

/* contact page */

#contact-head-img {
  background-image: url("../images/main-1.jpg");
}

#smallProj {
  display: none;
}

.contact-card-container,
.contact-card-link-container {
  margin-top: 10px;
}

.contact-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.contact-card-icon {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card-info {
  margin-top: 50px;
}

.contact-card-info-heading {
  font-weight: bold;
}

.contact-card-info-text {
  font-size: 0.9em;
}

.contact-card-link {
  color: #1c2331;
  font-size: 0.9em;
  text-decoration: underline;
}

.contact-form {
  margin-top: 100px;
}

.contact-form-head {
  margin-bottom: 40px;
}

.contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.other-contact {
  color: #1c2331;
}

.contact-container {
  margin-bottom: 150px;
}

.contact-directions-icon-container {
  margin-bottom: 10px;
}

.contact-directions-icon {
  font-size: 100px;
}

.contact-directions {
  padding: 20px;
}

/* contact page end */

#navbar-toggle {
  border: none;
}

#navbar-toggle i {
  font-size: 30px;
}

.maps {
  border: 0;
  border-radius: 5px;
}

/* Project page start */

.modal {
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #1c2331;
  color: #fff;
}

.modal-title,
.modal-description-heading,
.modal-tools-heading {
  font-weight: bold;
}

.modal-header,
.modal-footer {
  border-color: #fff;
}

.btn-close,
.projects-info {
  cursor: pointer;
}
.btn-close {
  background-color: #313131;
}

.info-btn {
  padding: 0;
  color: #fff;
}

.projects-info {
  text-decoration: none;
  border: none;
}

.info-icon {
  color: #fff;
  font-size: 30px;
}

.info-icon:hover {
  text-decoration: none;
  border: none;
}

.blockquote-footer {
  color: #c3073f;
}

.project-item-title {
  margin-bottom: 15px;
}

.project-item-link,
.project-item-link:hover {
  color: #fff;
}

.project-item {
  margin-bottom: 30px;
  border-radius: 5px;
}

.project-item-container {
  background-color: #1c2331;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  backdrop-filter: blur(0px);
  box-shadow: 1px 1px 20px 0px rgba(26, 26, 29, 0.75);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(26, 26, 29, 0.75);
  -moz-box-shadow: 1px 1px 20px 0px rgba(26, 26, 29, 0.75);
}

.tabs {
  padding: 30px 0;
  /* border: 1px solid #1c2331; */
  background-color: #1c2331;
  color: #fff;
}

.tabs:hover {
  background-color: #ffdb58;
  cursor: pointer;
  color: #1c2331;
  transition: 0.5s;
}

.tab-active {
  background-color: #ffdb58;
  color: #1c2331;
}

/* Project page end */

@media only screen and (max-width: 767px) {
  #navbarSupportedContent2 {
    display: block;
  }
  #smallProj {
    display: block;
  }
  #dropdown {
    display: none;
  }
  #menu,
  #projectsMenu {
    width: 0;
  }

  #navbarSupportedContent .closebtn {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 36px;
    z-index: 1001;
    color: #ecf0f3;
  }
  #navbarSupportedContent2 .backBtn {
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 36px;
    z-index: 1001;
    color: #ecf0f3;
    display: none;
  }
  #navbarSupportedContent,
  #navbarSupportedContent2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #1c2331;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    text-align: center;
  }
  .nav-item {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
    text-align: center;
  }
  .nav-link {
    display: inline;
  }
  #logo {
    /* background-image: url("../images/logo-03.png"); */
    height: 68px;
    width: 120px;
  }
  #navbar {
    /* background-color: #1c2331; */
    padding: 0 5%;
  }
  /* #navbarSupportedContent {
    height: 100vh;
    transition: 0.5s ease;
  } */
  /* .nav-item {
    margin-top: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
  } */
  #navbar-btn {
    width: 100%;
    text-align: center;
  }
  .nav-link span,
  #navbarDropdown {
    color: #fff;
  }
  #navbar-btn .my-btn {
    border-color: #fff;
    color: #fff;
  }

  .carousel-container {
    /* margin-bottom: 30px; */
    padding: 30px 15px;
    bottom: 5rem;
  }

  #about,
  #portfolio,
  #skills,
  #education,
  #projects,
  #contact {
    padding: 50px 0;
  }
  .carousel-container .container > span,
  .title,
  .title2 {
    font-weight: bold;
    font-size: 20px;
  }

  .carousel-container .container p span {
    font-weight: bold;
    font-size: 15px;
  }
  #about-bio,
  #how-it-works-bio,
  #vision-bio,
  .my-btn,
  .my-btn2,
  .my-btn3 {
    font-size: 15px;
    font-weight: normal;
  }
  #about-container,
  #vision-container,
  #how-it-works-container {
    padding: 30px;
  }
  .main-content div,
  .main-content2 div {
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .counter-container {
    font-size: 1.7em;
    padding: 0;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .count {
    padding: 30px 0;
  }

  .head,
  #slide-1,
  #slide-2,
  #slide-3 {
    height: 90vh;
  }
  #form {
    margin-bottom: 50px;
  }
  #copyright {
    font-size: 10px;
    line-height: 10px;
  }
  #about,
  #vision,
  #how-it-works,
  #projects,
  #contact {
    padding: 50px 0;
  }
  #book-survey {
    margin: 0;
  }
  #how-it-works span {
    font-size: 0.6em;
  }
  #book-survey span {
    font-size: 12px;
  }
  #testimonial {
    padding: 50px;
    text-align: center;
    font-size: 0.8em;
  }
  #testimonial span {
    font-size: 0.7em;
  }
  #testimonial-container {
    padding: 10px;
  }
  .card span {
    font-size: 12px;
  }

  .open-collapsible {
    font-size: 15px;
  }

  .tabs {
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
  }

  .team-banner {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-banner-info {
    margin-top: 100px;
    margin-bottom: -100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #navbarSupportedContent2 {
    display: block;
  }
  #smallProj {
    display: block;
  }
  #dropdown {
    display: none;
  }
  #navbar {
    /* background-color: #1c2331; */
    padding: 0 5%;
  }
  #navbarSupportedContent .closebtn {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 36px;
    z-index: 1001;
    color: #ecf0f3;
  }
  #navbarSupportedContent2 .backBtn {
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 36px;
    z-index: 1001;
    color: #ecf0f3;
  }
  #navbarSupportedContent,
  #navbarSupportedContent2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #1c2331;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    text-align: center;
  }
  /* #navbarSupportedContent {
    height: 100vh;
    transition: 0.5s ease;
  } */
  /* .nav-item {
    margin-top: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
  } */
  .nav-item {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
    text-align: center;
  }
  .nav-link {
    display: inline;
  }
  #navbar-btn {
    width: 100%;
    text-align: center;
  }
  .nav-link span,
  #navbarDropdown {
    color: #fff;
  }
  #navbar-btn .my-btn {
    border-color: #fff;
    color: #fff;
  }
  #testimonial {
    padding: 50px 0;
    text-align: center;
  }
  #testimonial-container {
    padding: 20px;
  }
  .team-banner {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-banner-info {
    margin-top: 100px;
    margin-bottom: -100px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}

.arrow-down {
  width: 30px;
  height: 20px;
  margin: 0 0 0 -10px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  animation-play-state: paused;
}

.left {
  position: absolute;
  height: 5px;
  width: 20px;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(240deg);
  top: 5px;
  left: 5px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 5px;
  width: 20px;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(-60deg);
  top: 5px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes leftArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

.active-link {
  background-color: #125487;
  color: #fff;
}
