<html>

<body>

    <header class="header">
        <!-- <nav class="navbar navbar-expand-lg navbar-dar fixed-top" id="navbar"> -->
        <nav class="navbar navbar-expand-lg navbar-dar" id="navbar" style="position: absolute; top: 0; z-index: 1000;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <div id="logo"></div>
                </a>
                <button class="navbar-toggler" type="button" id="navbar-toggle">
                    <i class="fa-solid fa-bars"></i>
                    <!-- <span style="color: black; background-color: black;" class="navbar-toggler-icon"></span> -->
                </button>
                <div id="navbarSupportedContent2">
                    <span class="backBtn" id="navbar-back-btn"><i class="fa-solid fa-arrow-left"></i></span>
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link nav-close residential-link" id="about-link" href="./projects.html">
                                <span>Residential</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close commercial-link" id="portfolio-link" href="./projects.html">
                                <span>Commercial</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close industrial-link" id="education-link" href="./projects.html">
                                <span>Industrial</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close agricultural-link" id="skills-link" href="./projects.html">
                                <span>Agricultural</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse align-middle menu show" id="navbarSupportedContent">
                    <span class="closebtn" id="navbar-close-btn"><i class="fa-solid fa-xmark"></i></span>
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link nav-close nav-link-scroll" id="about-link"
                                href="./about.html"><span>About</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close nav-link-scroll" id="portfolio-link"
                                href="./faqs.html"><span>FAQ's</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close nav-link-scroll" id="education-link"
                                href="./career.html"><span>Career</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close nav-link-scroll" id="skills-link"
                                href="./partners.html"><span>Partners</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-close nav-link-scroll" id="contact-link"
                                href="./contact.html"><span>Contact</span></a>
                        </li>
                        <li class="nav-item" id="smallProj">
                            <a href="#" class="nav-link nav-link-scroll" id="proj-link">
                                <span>Projects <i class="fa fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <div id="dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Projects
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item nav-close residential-link"
                                            href="./projects.html">Residential</a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li>
                                        <a class="dropdown-item nav-close commercial-link"
                                            href="./projects.html">Commercial</a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li>
                                        <a class="dropdown-item nav-close industrial-link"
                                            href="./projects.html">Industrial</a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li>
                                        <a class="dropdown-item nav-close agricultural-link"
                                            href="./projects.html">Agricultural</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div id="navbar-btn">
                        <a href="./contact.html">
                            <button class="my-btn btn"><span>Get a quote <i
                                        class="fa-regular fa-pen-to-square"></i></span></button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>